*{
    margin: 0;
    border: Border-box;
}
.navebar{
    height: 5rem;
    background-color: #0A1128;
    display: flex;
}
.navank{
    color: #FEFCFB;
    /* margin  : 400px; */
    text-decoration: none;
    font-family: sans-serif;
}
#logo{
    font-size: 25px;
    color: #1282A2;
    text-decoration: none;
    font-family:sans-serif;
}
.navdiv1{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
}
.navline{
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.navdiv2{
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    padding-left: 16px;
}
.Singup{
    margin: 22px;
    padding-left: 850px;
}
.signbutt{
    height: 30px;
    width: 100px;
    margin-left: 400px;
    border-radius: 10px;
    background : linear-gradient(150deg,#FF8360,#E8E288,#7DCE82,#3CDBD3,#00FFF5);
}
#butid{
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.user{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.border:hover{
    border: 2px solid #74C0FC;
}
